# Data Analysis Project 6: India Census 2011 Dataset

- https://youtu.be/e1zKFSrKeLs?list=PLy3lFw0OTlutzXFVwttrtaRGEEyLEdnpy

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("data/india_census.csv")
df.head()

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 640 entries, 0 to 639
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   District_code         640 non-null    int64
 1   State_name            640 non-null    object
 2   District_name         640 non-null    object
 3   Population            640 non-null    int64
 4   Male                  640 non-null    int64
 5   Female                640 non-null    int64
 6   Literate              640 non-null    int64
 7   Workers               640 non-null    int64
 8   Male_Workers          640 non-null    int64
 9   Female_Workers        640 non-null    int64
 10  Cultivator_Workers    640 non-null    int64
 11  Agricultural_Workers  640 non-null    int64
 12  Household_Workers     640 non-null    int64
 13  Hindus                640 non-null    int64
 14  Muslims               640 non-null    int64
 15  Christians            640 non-null    int64
 16  Sikhs                 640 non-null    int64
 17  Buddhists             640 non-null    int64
 18  Jains                 640 non-null    int64
 19  Secondary_Education   640 non-null    int64
 20  Higher_Education      640 non-null    int64
 21  Graduate_Education    640 non-null    int64
 22  Age_Group_0_29        640 non-null    int64
 23  Age_Group_30_49       640 non-null    int64
 24  Age_Group_50          640 non-null    int64
dtypes: int64(23), object(2)
memory usage: 125.1+ KB

## Q1: How will you hide the indexes of the dataframe.

In [4]:
df.sample(15).style.hide(axis='index')

## Q2: How can we set the caption / heading on the dataframe.

In [5]:
df.sample(10).style.set_caption("Sample Caption")

## Q3: Show the records related with the districts - New Delhi , Lucknow , Jaipur.

In [6]:
df[df['District_name'].isin(['New Delhi', 'Lucknow', 'Jaipur'])]

,District_code,State_name,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,59541,46940,12601,...,4852,2933,312,679,15942,17742,23934,76076,43913,21773
109,110,RAJASTHAN,Jaipur,6626178,3468507,3157671,4300965,2464893,1714947,749946,...,12708,18782,1020,81079,659389,455527,703673,4091148,1646480,884057
156,157,UTTAR PRADESH,Lucknow,4589838,2394476,2195362,3127260,1542806,1226399,316407,...,20493,23883,3877,4975,428121,378742,639260,2678289,1161686,685258

## Q4: Calculate state-wise:
### - Total number of population.
### - Total no. of the population with different religions.

In [7]:
cols = ["Population", "Hindus", "Muslims", "Christians", "Sikhs", "Buddhists", "Jains"]
df.groupby('State_name')[cols].sum()

,Population,Hindus,Muslims,Christians,Sikhs,Buddhists,Jains
State_name,,,,,,,
ANDAMAN AND NICOBAR ISLANDS,380581,264296,32413,80984,1286,338,31
ANDHRA PRADESH,84580777,74824149,8082412,1129784,40244,36692,53849
ARUNACHAL PRADESH,1383727,401876,27045,418732,3287,162815,771
ASSAM,31205576,19180759,10679345,1165867,20672,54993,25949
BIHAR,104099452,86078686,17557809,129247,23779,25453,18914
CHANDIGARH,1055450,852574,51447,8720,138329,1160,1960
CHHATTISGARH,25545198,23819789,514998,490542,70036,70467,61510
DADRA AND NAGAR HAVELI,343709,322857,12922,5113,217,634,1186
DAMAN AND DIU,243247,220150,19277,2820,172,217,287
GOA,1458545,963877,121564,366130,1473,1095,1109
GUJARAT,60439692,53533988,5846761,316178,58246,30483,579654
HARYANA,25351462,22171128,1781342,50353,1243752,7514,52613
HIMACHAL PRADESH,6864602,6532765,149881,12646,79896,78659,1805
JAMMU AND KASHMIR,12541302,3566674,8567485,35631,234848,112584,2490
JHARKHAND,32988134,22376051,4793994,1418608,71422,8956,14974
KARNATAKA,61095297,51317472,7893065,1142647,28773,95710,440280
KERALA,33406061,18282492,8873472,6141269,3814,4752,4489
LAKSHADWEEP,64473,1788,62268,317,8,10,11
MADHYA PRADESH,72626809,66007121,4774695,213282,151412,216052,567028
MAHARASHTRA,112374333,89703057,12971152,1080073,223247,6531200,1400349
MANIPUR,2855794,1181876,239836,1179043,1527,7084,1692
MEGHALAYA,2966889,342078,130399,2213027,3045,9864,627
MIZORAM,1097206,30136,14832,956331,286,93411,376
NAGALAND,1978502,173054,48963,1739651,1890,6759,2655
NCT OF DELHI,16787941,13712100,2158684,146093,570581,18449,166231
ORISSA,41974218,39300341,911670,1161708,21991,13852,9420
PONDICHERRY,1247953,1089409,75556,78550,297,451,1400
PUNJAB,27743338,10678138,535489,348230,16004754,33237,45040
RAJASTHAN,68548437,60657103,6215377,96430,872930,12185,622023
SIKKIM,610577,352662,9867,60522,1868,167216,314
TAMIL NADU,72147030,63188168,4229479,4418331,14601,11186,89265
TRIPURA,3673917,3063903,316042,159882,1070,125385,860
UTTAR PRADESH,199812341,159312654,38483967,356448,643500,206285,213267
UTTARAKHAND,10086292,8368636,1406825,37781,236340,14926,9183
WEST BENGAL,91276115,64385546,24654825,658618,63523,282898,60141

## Q5: How many Male Workers were there in Maharashtra state ?

In [8]:
df[df['State_name']=='MAHARASHTRA'][['Male_Workers']].sum()

Male_Workers    32616875
dtype: int64

## Q6: How to set a column as index of the dataframe ?

In [9]:
df.set_index(['State_name'])

,District_code,District_name,Population,Male,Female,Literate,Workers,Male_Workers,Female_Workers,Cultivator_Workers,...,Christians,Sikhs,Buddhists,Jains,Secondary_Education,Higher_Education,Graduate_Education,Age_Group_0_29,Age_Group_30_49,Age_Group_50
State_name,,,,,,,,,,,,,,,,,,,,,
JAMMU AND KASHMIR,1,Kupwara,870354,474190,396164,439654,229064,190899,38165,34680,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
JAMMU AND KASHMIR,2,Badgam,753745,398041,355704,335649,214866,162578,52288,55299,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
JAMMU AND KASHMIR,3,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,20869,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
JAMMU AND KASHMIR,4,Kargil,140802,77785,63017,86236,51873,39839,12034,8266,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
JAMMU AND KASHMIR,5,Punch,476835,251899,224936,261724,161393,117677,43716,54264,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PONDICHERRY,636,Mahe,41816,19143,22673,36470,11802,9093,2709,43,...,958,3,21,14,8773,5711,4475,19760,12543,9428
PONDICHERRY,637,Karaikal,200222,97809,102413,154916,68301,53139,15162,2372,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
ANDAMAN AND NICOBAR ISLANDS,638,Nicobars,36842,20727,16115,25332,17125,12714,4411,322,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
ANDAMAN AND NICOBAR ISLANDS,639,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,10727,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
ANDAMAN AND NICOBAR ISLANDS,640,South Andaman,238142,127283,110859,190266,96831,77563,19268,5518,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

## Q7: Add a Suffix to the column names.

In [10]:
# df.rename(columns=lambda x: x+"_0")
df.add_suffix("_right")

,District_code_right,State_name_right,District_name_right,Population_right,Male_right,Female_right,Literate_right,Workers_right,Male_Workers_right,Female_Workers_right,...,Christians_right,Sikhs_right,Buddhists_right,Jains_right,Secondary_Education_right,Higher_Education_right,Graduate_Education_right,Age_Group_0_29_right,Age_Group_30_49_right,Age_Group_50_right
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128

## Q8: Add a Prefix to the column names.

In [11]:
# df.rename(columns=lambda x: "0_"+x)
df.add_prefix("left_")

,left_District_code,left_State_name,left_District_name,left_Population,left_Male,left_Female,left_Literate,left_Workers,left_Male_Workers,left_Female_Workers,...,left_Christians,left_Sikhs,left_Buddhists,left_Jains,left_Secondary_Education,left_Higher_Education,left_Graduate_Education,left_Age_Group_0_29,left_Age_Group_30_49,left_Age_Group_50
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,229064,190899,38165,...,1700,5600,66,39,74948,39709,21751,600759,178435,89679
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,214866,162578,52288,...,1489,5559,47,6,66459,41367,27950,503223,160933,88978
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,75079,53265,21814,...,658,1092,88635,103,16265,8923,6197,70703,41515,21019
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,51873,39839,12034,...,604,1171,20126,28,16938,9826,3077,87532,35561,17488
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,161393,117677,43716,...,958,11188,83,10,46062,29517,13962,304979,109818,61334
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,11802,9093,2709,...,958,3,21,14,8773,5711,4475,19760,12543,9428
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,68301,53139,15162,...,18391,46,63,54,29456,15930,18998,102333,60089,37434
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,17125,12714,4411,...,26077,343,119,0,6325,3668,1300,18786,12088,5922
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,38579,30612,7967,...,21870,77,84,4,12707,10042,5133,57350,30741,17464
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,96831,77563,19268,...,33037,866,135,27,42150,29910,22388,128402,76332,33128